<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加管理员 - 北航校车管理系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../layui/css/layui.css" media="all">
<script type="text/javascript" src="../../static/js/jquery-1.9.1.min.js"></script>
<script src="../../layui/layui.js"></script>
<script src="../../js/verify.js"></script>
<script src="../../js/xm-select.js"></script>

<script src="../../js/common.js"></script>

<style type="text/css">
.layui-form-label{
width: 120px!important;
}
.layui-form-pane .layui-form-checkbox {
	margin: 4px 10px 4px 10px;
}
/*不显示秒*/
            .layui-laydate-content>.layui-laydate-list {
                padding-bottom: 0px;
                overflow: hidden;
            }
            .layui-laydate-content>.layui-laydate-list>li{
                width:50%
            }
 
            .merge-box .scrollbox .merge-list {
                padding-bottom: 5px;
            }
          
</style>
</head>
<body style="background: url('../images/bg.png'); text-align: center;">
	<form class="layui-form layui-form-pane"
		style="width: 400px; margin: 100px auto;" lay-filter="example">
		<div class="layui-form-item">
			<div class="layui-input-inline">
				<input type="hidden" name="shifts_number_before" id="shifts_number_before" autocomplete="off"
					class="layui-input" th:value='${#strings.escapeXml(shifts_number)}'>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">模板分组</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" 
					name="shifts_group" autocomplete="off" id="shifts_group" th:value="${#strings.escapeXml(shifts_group)}">
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">班次</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" 
					name="shifts_number" autocomplete="off" id="shifts_number" th:value="${#strings.escapeXml(shifts_number)}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">线路</label>
			<div class="layui-input-inline">
				<select name="line_id"  style="width: 360px;">
					<option value="0">请选择</option>
					<option th:each="lineList:${lineList}"
						th:value="${lineList['line_id']}"
						th:text="${lineList['line_name']}"
						th:selected="${lineList['line_id']}==${line_id}?true:false"></option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">发车时间</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="time1" placeholder=""
					name="depart_time" autocomplete="off" th:value="${#strings.escapeXml(depart_time)}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">预计到达时间</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" id="time2" placeholder=""
					name="arrive_time"  autocomplete="off" th:value="${#strings.escapeXml(arrive_time)}">
			</div>
		</div>
        	<div class="layui-form-item">
			<label class="layui-form-label">司机</label>
			<div class="layui-input-inline">
				<select name="driver_id"  style="width: 360px;" id="driver_id">
					<option value="0">请选择</option>
					<option th:each="driverList:${driverList}"
						th:value="${driverList['driver_id']}"
						th:text="${driverList['driver_name']}"
						th:selected="${driverList['driver_id']}==${driver_id}?true:false"></option>
				</select>
			</div>
		</div>
        	<div class="layui-form-item">
			<label class="layui-form-label">车辆</label>
			<div class="layui-input-inline">
				<select name="vehicle_id"  style="width: 360px;" id="vehicle_id">
					<option value="0">请选择</option>
					<option th:each="vehicleList:${vehicleList}"
						th:value="${vehicleList['vehicle_id']} "
						th:text="${vehicleList['vehicle_number']}"
						th:selected="${vehicleList['vehicle_id']}==${vehicle_id}?true:false"></option>

				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input" 
					name="remark" autocomplete="off"  th:value="${#strings.escapeXml(remark)}" id="remark">
			</div>
		</div>
		<!-- <div id="demo1" class="xm-select-demo"></div> -->
		
		<div class="layui-form-item">
			<button class="layui-btn" lay-submit lay-filter="upp_sub" id="btnUpp">确认修改</button>
			<input type="reset" class="layui-btn layui-btn-primary"
				id="resetForm"></input>
		</div>
	</form>
		<script type="text/javascript">
		layui.use('laydate', function() {
			var laydate = layui.laydate;
			//日期
			laydate.render({
				elem : '#date1'
			});
			//时间选择器
			laydate.render({
				elem : '#time1',
				type : 'time',
				format:'HH:mm',
				 trigger: 'click'
			});
			//时间选择器
			laydate.render({
				elem : '#time2',
				type : 'time',
				format:'HH:mm',
				 trigger: 'click'
			});

		});
	</script>
	<script src="../../js/bus/busFlightLineUpdate.js"></script>
</body>
</html>