<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>北航校车管理系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../layui/css/layui.css" media="all">
<script type="text/javascript" src="../../static/js/jquery-1.9.1.min.js"></script>
<script src="../../layui/layui.js"></script>
<script src="../../js/verify.js"></script>
<script src="../../js/xm-select.js"></script>
<script src="../../js/bus/busTempCheckUpdate.js"></script>
<script src="../../js/common.js"></script>
<style type="text/css">
.layui-form-pane .layui-form-checkbox {
	margin: 4px 10px 4px 10px;
}
/* lay-verify="required|username" */
.layui-form-label {
	width: 120px !important;
}
/*不显示秒*/
.layui-laydate-content>.layui-laydate-list {
	padding-bottom: 0px;
	overflow: hidden;
}
.layui-input-block{
margin-left: 120px!important;
}
.layui-laydate-content>.layui-laydate-list>li {
	width: 50%
}

.merge-box .scrollbox .merge-list {
	padding-bottom: 5px;
}
</style>
</head>
<body style="background: url('../images/bg.png'); text-align: center;">
	<form class="layui-form layui-form-pane"
		style="width: 400px; margin: 100px auto;">
				<div class="layui-form-item" style="display: none;">
			<div class="layui-input-block">
				<input type="hidden" name="temp_identity_before" autocomplete="off"
					id="temp_identity_before" class="layui-input"
					th:value="${#strings.escapeXml(temp_identity)}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">身份证号</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_identity"
					placeholder="" name="temp_identity" autocomplete="off" th:value="${temp_identity}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">姓名</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="temp_name"
					autocomplete="off" id="temp_name" th:value="${temp_name}">
			</div>
		</div>
		<div class="layui-form-item" pane="">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block">
				<input type="radio" name="temp_sex" value="1" title="男"
					lay-filter="jiedian" th:checked="${temp_sex}==1?true:false"> <input type="radio"
					name="temp_sex" value="2" title="女" lay-filter="jiedian" th:checked="${temp_sex}==2?true:false"> 
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号码</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_mobile"
					placeholder="" name="temp_mobile" autocomplete="off" th:value="${temp_mobile}" >
			</div>
		</div>
			<div class="layui-form-item">
			<label class="layui-form-label">类型</label>
			<div class="layui-input-block">
				<select name="temp_type" lay-filter="aihao" style="width: 360px;">
					<option value=""  >请选择类型</option>
					<option value="1" th:selected="${temp_type}==1?true:false">教工</option>
					<option value="2" th:selected="${temp_type}==2?true:false">学生</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<select name="is_audit" lay-filter="aihao" style="width: 360px;">
					<option value="0" th:selected="${is_audit}==0?true:false">未审核</option>
					<option value="1" th:selected="${is_audit}==1?true:false">审核</option>
				</select>
			</div>
		</div>
				<div class="layui-form-item">
			<label class="layui-form-label">电话</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_phone" placeholder=""
					name="temp_phone" autocomplete="off" th:value="${temp_phone}">
			</div>
		</div>
			<div class="layui-form-item">
			<label class="layui-form-label">所属校区</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_campus" placeholder=""
					name="temp_campus" autocomplete="off" th:value="${temp_campus}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">部门</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_dept" placeholder=""
					name="temp_dept" autocomplete="off"  th:value="${temp_dept}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">岗位</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_post" placeholder=""
					name="temp_post" autocomplete="off" th:value="${temp_post}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">工号</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_number" placeholder=""
					name="temp_number" autocomplete="off" th:value="${temp_number}">
			</div>
		</div>
			<div class="layui-form-item">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_email" placeholder=""
					name="temp_email" autocomplete="off" th:value="${temp_email}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">直属领导</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="temp_boss_name" placeholder=""
					name="temp_boss_name" autocomplete="off" th:value="${temp_boss_name}">
			</div>
		</div>
	
		<div class="layui-form-item">
			<label class="layui-form-label">领导联系电话</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="temp_boss_phone"
					autocomplete="off" id="temp_boss_phone" th:value="${temp_boss_phone}">
			</div>
		</div>
	
		<!-- <div id="demo1" class="xm-select-demo"></div> -->
		<div class="layui-form-item">
			<button class="layui-btn" lay-submit lay-filter="upp_sub" id="btnAdd">确认修改</button>
			<input type="reset" class="layui-btn layui-btn-primary"
				id="resetForm"></input>
		</div>
	</form>
</body>
</html>