<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>购票须知</title>
		<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	</head>
	<style>
    *{
		margin: 0px;
		padding: 0px;
		}
	</style>
	<body>
		<div data-role="page">
			<div data-role="main">
				<div>
					<div style="margin:10px 10px 10px 10px">北航校区班车微信订票系统，提供在线认证，查询如何购票服务，师生购票后可以凭电子车票乘坐对应班次的班车。</div>
					<div style="margin:10px 10px 10px 10px">乘车流程如下:</div>
					<div style="margin:10px 10px 10px 10px">
						<ul style="margin:10px 10px 10px 20px">
							<li style="list-style: decimal;">阅读购票须知</li>
							<li style="list-style: decimal;">身份认证</li>
							<li style="list-style: decimal;">查询购票</li>
							<li style="list-style: decimal;">验票乘车</li>
						</ul>
					</div>
					<div style="margin:10px 10px 10px 10px">如有其它疑问，请留言咨询管理员。</div>
				</div>
				   <!--  <div><span th:text="${session.currentUser.country}"></div>
				   <div><span th:text="${session.currentUser.province}"></div>
				   <div><span th:text="${session.currentUser.city}"></div>
				   <div><span th:text="${session.currentUser.openId}"></div>
				   <div><span th:text="${session.currentUser.sex}"></div>
				   <div><span th:text="${session.currentUser.nickname}"></div>-->
			</div>
			
		</div>
	</body>
</html>
